@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .base-copy {
    @apply text-neutral-charcoal;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 1.29;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  .question-copy {
    @apply text-neutral-charcoal;
    font-family: 'Nunito';
    font-size: 14px;
    line-height: 1.29;
  }
}

* {
  // outline: 1px solid hotpink;
}
